/* @import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

html,
body {
  font-family: "Chewy", cursive;
}

.chewy {
  font-family: "Chewy", cursive;
} */

@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

@import "tailwindcss";

html,
body {
  font-family: "Vidaloka", serif;
}

.vidaloka {
  font-family: "Vidaloka", serif;
}

.chewy {
  font-family: "Chewy", cursive;
  /* font-weight: 400; */
}



/* @import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Chewy&display=swap");

html,
body {
  font-family: "Berkshire Swash", cursive;
}

.berkshire {
  font-family: "Berkshire Swash", cursive;
}

.chewy {
  font-family: "Chewy", cursive;
} */


@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slider {
  animation: slider 15s linear infinite;
}

.animate-slider:hover {
  animation-play-state: paused;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation: floating 5s ease-in-out infinite;
}

.floating:nth-child(2) {
  animation-delay: .5s;
}

.floating:nth-child(3) {
  animation-delay: 1s;
}

.floating:nth-child(4) {
  animation-delay: 1.5s;
}

.floating:nth-child(5) {
  animation-delay: 2s;
}

.reveal{
    overflow:hidden;
}

.reveal img{
    transform:translateY(-100%);
    animation:dropReveal .9s forwards;
}

.reveal-1 img{
    animation-delay:.2s;
}

.reveal-2 img{
    animation-delay:.45s;
}

.reveal-3 img{
    animation-delay:.7s;
}

.reveal-4 img{
    animation-delay:.95s;
}

.reveal-5 img{
    animation-delay:1.2s;
}

@keyframes dropReveal{

    0%{
        transform:translateY(-100%);
    }

    100%{
        transform:translateY(0);
    }

}

/* CSS for Reels  */
/* Hide Scrollbar */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

@keyframes floatPulse {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-6px) scale(1.08);
  }
}